* {
    margin: 0;
    padding: 0;
}
/* header */
ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(90, 90, 90);
    
}

a:hover{
    border-bottom: 2px solid black;
}

.nav-bar{
    display: flex;
}

input {
    height: 1.25rem;
}

.logo img {
    width: 5rem;
}